name: Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: slow-build.sh
      run: bash slow-build.sh
    - name: mp-rebuild
      run: ./bin/faivy --mp rebuild
